footer.footer
    .container
        .row
            .col-12
                p 
                    b Con el apoyo de:

            .col-12.footer--logos
               
                .item
                    picture
                        source(srcset='img/logoTop.webp' type="image/webp")
                        img.img-fluid(src="img/logoTop.png" alt="")
                        
                .item
                    picture
                        source(srcset='img/logo-novartis.webp' type="image/webp")
                        img.img-fluid(src="img/logo-novartis.png" alt="")
                    
                   


        